# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/

# Data (Nếu bạn không muốn upload file dữ liệu nặng lên GitHub)
*.csv
*.xlsx
